*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

ul[class],
ol[class] {
  list-style: none;
  padding: 0;
}

nav ol,
nav ul {
  list-style: none;
}

a:not([class]) {
  /* default styles */
  text-decoration-skip-ink: auto;
}

a,
a:visited {
  color: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

[disabled] {
  cursor: not-allowed;
}

img,
video {
  max-width: 100%;
  display: block;
}

textarea {
  resize: vertical;
}

/* SVG fill falls back to text color */
svg:not([fill]) {
  fill: currentColor;
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.sr-only--focus:focus {
  position: static;
  width: auto;
  height: auto;
}

/* dispatched single taps w/o delay */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  touch-action: manipulation;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html,
body,
#root {
  font-family: sans-serif;
  font-size: 14px;
  background-color: var(--color__bg);
  height: 100%;
  overflow: hidden;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 400;
  color: #222;
  padding: 20px 0;
}

.rating-value {
  line-height: 1;
  align-self: flex-end;
  padding-right: 30px;
  font-size: 15rem;
  color: var(--rubber-slider-ui);
  opacity: 0.5;
}
